<main>
	{{#with cube}}
		<h1>{{name}}</h1>
		<img class="cube-details-img" src="{{imageUrl}}" alt="{{name}}">
		<div class="details">
			<p>Description: <span> {{description}}</span></p>

			<p>Difficulty level: <span> {{difficultyLevel}}</span></p>

			<div class="btn-group">
				<a class="btn" href="/">Back</a>
				<a class="btn" href="/cubes/{{_id}}/attach-accessory">Attach Accessory</a>
			</div>

		</div>

		<h2>Accessories</h2>
		<section class="accessories">
			<div class="accessory">
				<img src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg" alt="stickerName">
				<h3>Accessory Name</h3>
				<p>Accessory Description</p>
			</div>
			<div class="accessory">
				<img src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg" alt="stickerName">
				<h3>Accessory Name</h3>
				<p>Accessory Description</p>
			</div>
			<div class="accessory">
				<img src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg" alt="stickerName">
				<h3>Accessory Name</h3>
				<p>Accessory Description</p>
			</div>
		</section>
		<h3 class="no-results"><i>This cube has no accessories yet...</i></h3>
	{{/with}}
</main>