<div class="cube">
    <div class="img-container">
        <img class="cube" src="{{imageUrl}}" alt="{{name}}">
        <p class="name">{{name}}</p>
    </div>
   
    <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
    <a class="btn" href="/cubes/{{_id}}/details">Details</a>

</div>